<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/local.css">
        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="/node_modules/angular-material/angular-material.min.js"></script>
        <script>
var app = angular.module('app', ['ngMaterial'] );
app.config(function($mdThemingProvider) { $mdThemingProvider.theme('default').primaryPalette('indigo').accentPalette('blue-grey');$mdThemingProvider.enableBrowserColor(); });

app.controller('MainController', function($scope, $rootScope) {

});
        </script>
    </head>
	<body ng-app="app" ng-controller="MainController" layout="column">

        <md-toolbar layout="row" class="md-toolbar-tools">
            <h1>Template</h1> <!-- Add a title for screenshots -->
        </md-toolbar>

        <div flex layout="row">

            <md-content flex layout="row">

                <!-- Add your cards here -->

                <md-card>
                    <!-- Title -->
                    <md-card-title flex="none" class="withfab"><md-card-title-text><span class="md-headline">Example list card</span></md-card-title-text></md-card-title>
                    <!-- Multi action floating action button -->
                    <md-fab-speed-dial md-direction="down" class="md-scale">
                        <md-fab-trigger><md-button class="md-fab md-accent"><md-tooltip md-direction="left">More actions ...</md-tooltip><md-icon md-svg-src="/css/icons/material/Menu black.svg"></md-icon></md-button></md-fab-trigger>
                        <md-fab-actions>
                            <md-button class="md-fab md-raised md-mini"><md-tooltip md-direction="left">Do something</span></md-tooltip><md-icon md-svg-src="/css/icons/material/Add User Male.svg"></md-icon></md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                    <!-- Card content -->
                    <md-card-content>
                        <md-list class="lines-beetween-items">
                            <md-list-item><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 1</p></md-list-item>
                            <md-list-item class="active"><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 2</p></md-list-item>
                            <md-list-item><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 3</p></md-list-item>
                            <md-list-item><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 4</p></md-list-item>
                        </md-list>
                    </md-card-content>
                    <md-card-content>Conceptual description of this card (remove when not needed)</md-card-content>
                </md-card>

                <md-card>
                    <!-- Title -->
                    <md-card-title flex="none" class="withfab"><md-card-title-text><span class="md-headline">Example card without tabs</span></md-card-title-text></md-card-title>
                    <!-- Floating action button -->
                    <md-button class="md-fab md-accent"><md-tooltip md-direction="left">Add something</md-tooltip><md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon></md-button>
                    <!-- Card content -->
                    <md-card-content>
                        <form layout="column">
                            <md-input-container flex><label>Text</label><input/></md-input-container>
                            <md-input-container flex><md-checkbox>Checkbox</md-checkbox></md-input-container>
                            <md-input-container flex><label>Text area</label><textarea rows="5"></textarea></md-input-container>
                            <md-input-container flex>
                                <label>Picklist</label>
                                <md-select ng-model="dummy"><!-- For preselction add ' ng-value="selected"' to an option -->
                                    <md-option>Option 1</md-option>
                                    <md-option>Option 2</md-option>
                                    <md-option>Option 3</md-option>
                                </md-select>
                            </md-input-container>
                            <!-- Buttons -->
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised">Normal</md-button>
                                <md-button class="md-raised" ng-disabled="true">Disabled</md-button>
                                <md-button class="md-raised md-accent">Accent</md-button>
                                <md-button class="md-raised md-warn">Warn</md-button>
                            </md-card-actions>
                        </form>
                    </md-card-content>
                    <md-card-content>Conceptual description of this card (remove when not needed)</md-card-content>
                </md-card>


                <md-card>
                    <md-card-title flex="none" class="withfab">
                        <md-card-title-text>
                            <span class="md-headline">Example card with tabs</span>
                        </md-card-title-text>
                    </md-card-title>
                    
                    <md-tabs flex>
                        <md-tab>
                            <md-tab-label>Details</md-tab-label>
                            <md-tab-body>
                                <form layout="column">
                                    <md-card-content layout="column">
                                        <md-input-container flex><label>Text</label><input/></md-input-container>
                                        <md-input-container flex><md-checkbox>Checkbox</md-checkbox></md-input-container>
                                        <md-input-container flex><label>Text area</label><textarea rows="5"></textarea></md-input-container>
                                        <md-input-container flex>
                                            <label>Picklist</label>
                                            <md-select ng-model="dummy"><!-- For preselction add ' ng-value="selected"' to an option -->
                                                <md-option>Option 1</md-option>
                                                <md-option>Option 2</md-option>
                                                <md-option>Option 3</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <!-- Buttons -->
                                        <md-card-actions layout="row" layout-align="end center">
                                            <md-button class="md-raised">Normal</md-button>
                                            <md-button class="md-raised" ng-disabled="true">Disabled</md-button>
                                            <md-button class="md-raised md-accent">Accent</md-button>
                                            <md-button class="md-raised md-warn">Warn</md-button>
                                        </md-card-actions>
                                    </md-card-content>
                                    <md-card-content>Conceptual description of this card (remove when not needed)</md-card-content>
                                </form>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>List</md-tab-label>
                            <md-tab-body>
                                <md-card-content>
                                    <md-list class="lines-beetween-items">
                                        <md-list-item><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 1</p></md-list-item>
                                        <md-list-item class="active"><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 2</p></md-list-item>
                                        <md-list-item><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 3</p></md-list-item>
                                        <md-list-item><md-icon md-svg-src="/css/icons/material/User.svg"></md-icon><p>List item 4</p></md-list-item>
                                    </md-list>
                                </md-card-content>
                                <md-card-content>Conceptual description of this card (remove when not needed)</md-card-content>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-card>

            </md-content>
        </div>
    </body>
</html>