<md-card ng-cloak ng-controller="OfficeActivityCardController" style="background-image:url('/css/icons/office/Planner.svg');" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <ng-include ng-if="!isNewActivity" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-bind="activityName" ng-if="!isNewActivity"></span>
            <span class="md-headline" ng-if="isNewActivity" translate>TRK_ACTIVITIES_NEW_ACTIVITY</span>
        </md-card-title-text>
    </md-card-title>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_DETAILS</span></md-tab-label>
            <md-tab-body>
                <form name="activityForm">

                    <md-card-content layout="column">

                        <md-input-container  >
                            <label translate>TRK_ACTIVITIES_DATE</label>
                            <md-datepicker ng-model="activity.date" md-open-on-focus read-only ></md-datepicker>
                           
                        </md-input-container>

                        <md-input-container flex>
                            <label translate>TRK_ACTIVITIES_NAME</label>
                            <input ng-model="activity.name" />
                        </md-input-container>

                        <md-input-container flex>
                            <label translate>TRK_ACTIVITIES_TYPE</label>
                            <md-select ng-model="activity.type">
                                <md-option ng-value="type" ng-repeat="type in types">
                                    <span translate="TRK_{{type}}"></span>
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <label translate>TRK_ACTIVITIES_TASK</label>
                            <textarea ng-model="activity.task" rows="5"></textarea>
                        </md-input-container>

                        <md-input-container flex>
                            <md-checkbox ng-model="activity.isForAllUsers"><span translate>TRK_ACTIVITIES_VIEWABLE_BY_ALL_USERS</span></md-checkbox>
                        </md-input-container>

                        <md-input-container flex>
                            <md-checkbox ng-model="activity.isDone"><span translate>TRK_ACTIVITIES_DONE</span></md-checkbox>
                        </md-input-container>

                        <md-input-container flex>
                            <label translate>TRK_ACTIVITIES_COMMENT</label>
                            <textarea ng-model="activity.comment" rows="5"></textarea>
                        </md-input-container>

                        <md-input-container flex ng-if="!isNewActivity">
                            <span translate>TRK_ACTIVITIES_CREATOR</span>
                            <input ng-model="activity.creator" ng-readonly="true" aria-label="CREATOR"/>
                        </md-input-container>

                    <ng-include flex ng-if="!isNewActivity" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>   
                    
                    </md-card-content>

                    <md-card-actions layout="row" layout-align="space-between center">
                        <md-button class="md-raised md-warn" ng-if="!isNewActivity && canWriteActivities" ng-click="deleteActivity()"><span translate>TRK_ACTIVITIES_DELETE</span></md-button>
                        <md-button class="md-raised md-accent" ng-if="isNewActivity && canWriteActivities" ng-click="createActivity()"><span translate>TRK_ACTIVITIES_CREATE</span></md-button>
                        <md-button class="md-raised md-accent" ng-if="!isNewActivity && canWriteActivities" ng-click="saveActivity()"><span translate>TRK_ACTIVITIES_SAVE</span></md-button>
                    </md-card-actions>

                </form>
            </md-tab-body>
        </md-tab>
        <ng-include ng-if="!isNewActivity" src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>
</md-card>
