<md-card ng-cloak ng-controller="OfficeActivityCardController" style="background-image:url('/css/icons/office/Planner.svg');">

    <md-card-title flex="none" class="withfab">
        <md-card-title-text>
            <span class="md-headline" ng-bind="activityName" ng-if="!isNewActivity"></span>
            <span class="md-headline" ng-if="isNewActivity" translate>ACTIVITIES_NEW_ACTIVITY</span>
        </md-card-title-text>
    </md-card-title>

    <md-fab-speed-dial md-direction="down" class="md-scale" ng-if="canReadFmObjects && canWriteActivities && !params.isSelection">
        <md-fab-trigger>
            <md-button class="md-fab md-accent" aria-label="MENU">
                <md-tooltip md-direction="left"><span translate>ACTIVITIES_MORE_ACTIONS</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Menu black.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="startAssignFmObject()" ng-if="canReadFmObjects" aria-label="ASSIGN FM OBJECT">
                <md-tooltip md-direction="left"><span translate>ACTIVITIES_ASSIGN_FMOBJECT</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Cottage.svg"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>ACTIVITIES_DETAILS</span></md-tab-label>
            <md-tab-body>
                <ng-include src="'partial/Office/ActivityCardDetailsTab.html'"></ng-include>
            </md-tab-body>
        </md-tab>
        <md-tab ng-if="!isNewActivity && canReadFmObjects">
            <md-tab-label><span translate>ACTIVITIES_FMOBJECTS</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-include="'partial/BIM/FmObjectList.html'"></md-card-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>

</md-card>
