<md-card ng-cloak ng-controller="OfficeCalendarCardController" style="background-image:url('/css/icons/office/Planner.svg');">
    
    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-click="newActivity()" aria-label="ADD ACTIVITY" ng-if="canWriteActivities">
            <md-tooltip md-direction="bottom"><span translate>TRK_ACTIVITIES_CREATE_NEW_ACTIVITY</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            <p translate>TRK_ACTIVITIES_ACTIVITY</p>
        </md-button>
    </md-toolbar>

    <script type="text/ng-template" id="ActivityList">
        <md-list class="lines-beetween-items activities-3">
            <md-list-item ng-repeat="activity in activityListActivities | filter: activityListFilter ? activityListFilter : '' | orderBy: ['date','name']" ng-click="selectActivity(activity, $event)" ng-class="{active:selectedActivity === activity,strikethrough:activity.isDone}" aria-label="{{activity.name}}">
                <md-icon md-svg-src="/css/icons/material/Planner.svg"></md-icon>
                <div class="md-list-item-text">
                    <h3 ng-bind="activity.name" ng-if="activityListShowName"></h3>
                    <h4 ng-if="activityListShowType" translate = "TRK_{{activity.type}}"></h4>
                    <p ng-bind="activity.date | amDateFormat: 'L'" ng-if="activityListShowDate"></p>
                </div>
            </md-list-item>
        </md-list>
    </script>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_TODAY</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-controller="OfficeCalendarCardTodayController" ng-include="'ActivityList'"></md-card-content>
            </md-tab-body>
        </md-tab>
       <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_OVERDUE</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-controller="OfficeCalendarCardOverDueController" ng-include="'ActivityList'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_ALL</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-controller="OfficeCalendarCardAllController" ng-include="'ActivityList'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_THIS_WEEK</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-controller="OfficeCalendarCardThisWeekController" ng-include="'ActivityList'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_THIS_MONTH</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-controller="OfficeCalendarCardThisMonthController" ng-include="'ActivityList'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_NEXT_7_DAYS</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-controller="OfficeCalendarCardNext7DaysController" ng-include="'ActivityList'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_ACTIVITIES_NEXT_30_DAYS</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-controller="OfficeCalendarCardNext30DaysController" ng-include="'ActivityList'"></md-card-content>
            </md-tab-body>
        </md-tab>

    </md-tabs>

</md-card>
