<md-card ng-cloak ng-controller="OfficeDocumentCardController" style="background-image:url(/css/icons/office/Document.svg);">

    <md-card-title flex="none" class="withfab">
        <md-card-title-text>
            <span class="md-headline" ng-bind="documentName"></span>
        </md-card-title-text>
    </md-card-title>

    <md-fab-speed-dial md-direction="down" class="md-scale relations-anchor">
        <md-fab-trigger>
            <md-button class="md-fab md-accent" aria-label="MENU">
                <md-tooltip md-direction="left"><span translate>TRK_DOCUMENTS_MORE_ACTIONS</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Menu black.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="downloadDocument()" aria-label="DOWNLOAD">
                <md-tooltip md-direction="left"><span translate>TRK_DOCUMENTS_DOWNLOAD</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Download.svg"></md-icon>
            </md-button>
            <ng-include src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        </md-fab-actions>
    </md-fab-speed-dial>

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>

    <md-tabs flex ng-if="!isNewFolder && !isRootFolder">
        <md-tab>
            <md-tab-label><span translate>TRK_DOCUMENTS_DETAILS</span></md-tab-label>
            <md-tab-body>
                <md-card-content>

                    <form name="documentForm" layout="column">

                        <md-input-container flex>
                            <label translate>TRK_DOCUMENTS_NAME</label>
                            <input ng-model="document.name" name="name">
                        </md-input-container>

                        <md-input-container flex>
                            <md-checkbox ng-model="document.isShared"><span translate>TRK_DOCUMENTS_IS_SHARED</span></md-checkbox>
                        </md-input-container>

                        <p ng-if="document.isShared">
                            <a href="/api/documents/share/{{document._id}}" ng-bind="documentUrl" target="_blank" class="share-link"></a>
                        </p>

                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised" ng-click="extractDocument()" ng-if="document.isExtractable">
                                <md-tooltip md-direction="bottom"><span translate>TRK_DOCUMENTS_EXTRACT_TOOLTIP</span></md-tooltip>
                                <span translate>TRK_DOCUMENTS_EXTRACT</span>
                            </md-button>
                            <md-button ng-if="canWriteDocuments" class="md-raised md-accent" ng-click="saveDocument()"><span translate>TRK_DOCUMENTS_SAVE</span></md-button>
                            <md-button ng-if="canWriteDocuments" class="md-raised md-warn" ng-click="deleteDocument()"><span translate>TRK_DOCUMENTS_DELETE</span></md-button>
                        </md-card-actions>

                    </form>

                    <div class="document-preview" ng-if="isPreviewable">
                        <span translate>TRK_DOCUMENTS_CLICK_TO_PREVIEW</span>
                    </div>
                    
                </md-card-content>
            </md-tab-body>
        </md-tab>
        <!-- Tab für Verknüpfungsliste -->
        <ng-include src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

    <div class="progress-panel" ng-if="isExtracting">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

</md-card>
