<md-card
    avt-card
    avt-details-card
    avt-relations
    avt-add-element-toolbar-button='{"datatypenames":["folders"],"availableondatatypenames":["folders"],"label":"Verzeichnis","tooltip":"Unterverzeichnis erstellen","detailscard":"Office/DocumentDetailsCard","icon":"/css/icons/material/Add Folder.svg"}'
    avt-upload-document-toolbar-button
    avt-download-document-toolbar-button
    avt-extract-document-toolbar-button
    avt-progress-spinner
    avt-close-toolbar-button
></md-card>
