<md-card ng-cloak ng-controller="OfficeDocumentCardController" style="background-image:url(/css/icons/office/Document.svg);" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-click="downloadDocument()" aria-label="DOWNLOAD">
            <md-tooltip md-direction="bottom"><span translate>TRK_DOCUMENTS_DOWNLOAD_DOCUMENT</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Download.svg"></md-icon>
            <p translate>TRK_DOCUMENTS_DOWNLOAD</p>
        </md-button>
        <ng-include ng-if="!isNewFolder" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <md-button ng-click="viewInAR()" aria-label="VIEW IN 3D" ng-if="is3Dmodel">
            <md-tooltip md-direction="bottom">In 3D betrachten</md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Virtual Reality.svg"></md-icon>
            <p>In 3D betrachten</p>
        </md-button>
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-bind="documentName"></span>
            <span class="breadcrumbs" ng-bind="breadcrumbs"></span>
        </md-card-title-text>
    </md-card-title>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>TRK_DOCUMENTS_DETAILS</span></md-tab-label>
            <md-tab-body>
                <md-card-content>

                    <form name="documentForm" layout="column">

                        <md-input-container flex>
                            <label translate>TRK_DOCUMENTS_NAME</label>
                            <input ng-model="document.name" name="name">
                        </md-input-container>

                        <md-input-container flex>
                            <md-checkbox ng-model="document.isShared"><span translate>TRK_DOCUMENTS_IS_SHARED</span></md-checkbox>
                        </md-input-container>

                        <ng-include flex src="'partial/Core/DynamicAttributesTab.html'"></ng-include>

                        <p ng-if="document.isShared">
                            <a href="/api/documents/share/{{document._id}}" ng-bind="documentUrl" target="_blank" class="share-link"></a>
                        </p>

                        <md-input-container flex ng-if="is3Dmodel">
                            <label>Beschreibung</label>
                            <textarea ng-model="document.description" name="description" rows="5"></textarea>
                        </md-input-container>
        
                        <md-card-actions layout="row" layout-align="space-between center">
                            <md-button class="md-raised" ng-click="extractDocument()" ng-if="document.isExtractable">
                                <md-tooltip md-direction="bottom"><span translate>TRK_DOCUMENTS_EXTRACT_TOOLTIP</span></md-tooltip>
                                <span translate>TRK_DOCUMENTS_EXTRACT</span>
                            </md-button>
                            <md-button ng-if="canWriteDocuments" class="md-raised md-warn" ng-click="deleteDocument()"><span translate>TRK_DOCUMENTS_DELETE</span></md-button>
                            <md-button ng-if="canWriteDocuments" class="md-raised md-accent" ng-click="saveDocument()"><span translate>TRK_DOCUMENTS_SAVE</span></md-button>
                        </md-card-actions>

                    </form>

                    <div class="document-preview" ng-if="isPreviewable">
                        <span translate>TRK_DOCUMENTS_CLICK_TO_PREVIEW</span>
                    </div>
                    
                </md-card-content>
            </md-tab-body>
        </md-tab>
        <!-- Tab für Verknüpfungsliste -->
        <ng-include src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

    <div class="progress-panel" ng-if="isExtracting">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

</md-card>
