<md-button ng-click="onNewLinkClick($event)" aria-label="ADD LINK">
    <md-tooltip md-direction="bottom"><span translate>TRK_RELATIONS_ADD_LINK</span></md-tooltip>
    <md-icon md-svg-src="/css/icons/material/Add Link.svg"></md-icon>
    <p translate>TRK_RELATIONS_LINK</p>
</md-button>

<script type="text/ng-template" id="menuContent.html">
    <md-list class="context-menu" role="list">
        <md-list-item ng-repeat="referenceType in parentScope.availableReferenceTypes" ng-click="parentScope.onMenuClick(referenceType)" aria-label="{{referenceType.translationKey}}"><md-icon md-svg-src="/css/icons/material/{{referenceType.icon}}.svg"></md-icon><p><span translate="TRK_{{referenceType.translationKey}}"></span></p></md-list-item>
    </md-list>
</script>

<script type="text/ng-template" id="simpleList.html">
    <md-list class="lines-beetween-items">
        <md-list-item ng-repeat="listItem in listItems" ng-click="parentScope.onSelectElement(listItem)" ng-class="{active:parentScope.selectedElement==listItem}">
            <md-icon md-svg-src="/css/icons/{{listItem.icon}}.svg"></md-icon><!-- TODO: Änderung der Icon-URL in die Doku rein -->
            <p ng-if="!listItem.secondLine">{{listItem.firstLine}}</p>
            <div ng-if="listItem.secondLine" class="md-list-item-text multiline"><p>{{listItem.firstLine}}</p><p>{{listItem.secondLine}}</p></div>
        </md-list-item>
    </md-list>
</script>

<script type="text/ng-template" id="hierarchyList.html">
    <md-list class="hierarchy">
        <md-list-item flex layout="column" ng-repeat="child in child.children">
            <div flex layout="row" ng-class="{active:parentScope.selectedElement==child}">
                <md-icon ng-click="parentScope.onOpenElement(child)" ng-if="!child.isOpen && child.children.length > 0" md-svg-src="/css/icons/material/Sort Right.svg"></md-icon>
                <md-icon ng-click="parentScope.onCloseElement(child)" ng-if="child.isOpen" md-svg-src="/css/icons/material/Sort Down.svg"></md-icon>
                <md-icon ng-if="child.children.length < 1"></md-icon>
                <img ng-click="parentScope.onSelectElement(child)" ng-src="/css/icons/{{child.icon}}.svg" /><!-- TODO: Änderung der Icon-URL in die Doku rein -->
                <p ng-bind="child.name" ng-click="parentScope.onSelectElement(child)"></p>
            </div>
            <ng-include flex src="'hierarchyList.html'" ng-if="child.isOpen"></ng-include>
        </md-list-item>
    </md-list>
</script>

<script type="text/ng-template" id="simpleListDialog.html">
    <md-dialog aria-label="SELECT ELEMENT">
        <md-toolbar class="md-toolbar-tools">
            <h2 translate="TRK_{{title}}"></h2>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <ng-include flex src="'simpleList.html'"></ng-include>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-accent" ng-if="parentScope.selectedElement" ng-click="parentScope.onOkClick()"><span translate>TRK_OK</span></md-button>
            <md-button class="md-raised" ng-click="parentScope.onCancelClick()"><span translate>TRK_CANCEL</span></md-button>
        </md-dialog-actions>
    </md-dialog>
</script>

<script type="text/ng-template" id="hierarchyDialog.html">
    <md-dialog aria-label="SELECT ELEMENT">
        <md-toolbar class="md-toolbar-tools">
            <h2 translate="TRK_{{title}}"></h2>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <ng-include flex src="'hierarchyList.html'"></ng-include>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-accent" ng-if="parentScope.selectedElement" ng-click="parentScope.onOkClick()"><span translate>TRK_OK</span></md-button>
            <md-button class="md-raised" ng-click="parentScope.onCancelClick()"><span translate>TRK_CANCEL</span></md-button>
        </md-dialog-actions>
    </md-dialog>
</script>
