<md-card ng-cloak ng-controller="CRMBPAddressCardController" style="background-image:url('/css/icons/office/Business.svg');" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <div flex></div>
        <md-button class="close-card" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewAddress"><span ng-bind="addressAddressee"></span></span>
            <span class="md-headline" ng-if="isNewAddress" translate>TRK_BUSINESSPARTNERS_NEW_ADDRESS</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content >
        <form layout = "column">
            <md-input-container flex>
                <label translate>TRK_BUSINESSPARTNERS_ADDRESS_ADDRESSEE</label>  
                <input ng-model ="partnerAddress.addressee" name="addressee">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BUSINESSPARTNERS_ADDRESS_STREET</label>  
                <input ng-model ="partnerAddress.street" name="street">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BUSINESSPARTNERS_ADDRESS_POSTALCODE</label>  
                <input ng-model ="partnerAddress.postcode" name="postcode">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BUSINESSPARTNERS_ADDRESS_CITY</label>  
                <input ng-model ="partnerAddress.city" name="city">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BUSINESSPARTNERS_ADDRESS_TYPE</label>  
                <md-select ng-model ="partnerAddress.type" >  
                    <md-option ng-value="addressType" ng-repeat="addressType in addressTypes"> 
                        <span translate="TRK_BUSINESSPARTNERS_ADDRESS_TYPE_{{addressType}}"></span>
                    </md-option>  
                </md-select>
             </md-input-container>

            <ng-include flex ng-if="!isNewClient" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>   

             <md-card-actions layout="row" layout-align="end center" ng-if="canWriteBusinessPartnerDetails">
                <md-button class="md-raised md-accent" ng-if= "isNewAddress"  ng-click ="createBPAddress()"><span translate>TRK_BUSINESSPARTNERS_CREATE</span></md-button>
                <md-button class="md-raised md-accent" ng-if= "!isNewAddress" ng-click = "saveBPAddress()" ><span translate>TRK_BUSINESSPARTNERS_SAVE</span></md-button>
                <md-button class="md-raised md-warn"  ng-if= "!isNewAddress" ng-click="deleteBPAddress()" ><span translate>TRK_BUSINESSPARTNERS_DELETE</span></md-button>
            </md-card-actions>    
        </form>
    </md-card-content>

</md-card>