<md-card ng-cloak ng-controller= "CRMCommunicationCardController" style="background-image:url('/css/icons/office/Collaborator Male.svg');" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if= "!isNewComm"><span ng-bind="contact"></span></span>
            <span class="md-headline" ng-if= "isNewComm" translate>TRK_PERSONS_NEW_COMMUNICATION</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content >
        <form layout = "column">
            <md-input-container flex>
                <label translate>TRK_PERSONS_COMMUNICATION_MEDIUM</label>  
                <md-select ng-model ="communication.selectedMedium" >  
                    <md-option ng-value="cm" ng-repeat="cm in communicationMediums"><span translate="TRK_PERSONS_COMMUNICATION_MEDIUM_{{cm.name}}"></span></md-option>  
                </md-select>
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_PERSONS_COMMUNICATION_CONTACT</label>  
                <input ng-model ="communication.contact" name="contact">        
            </md-input-container>         

            <md-input-container flex>
                <label translate>TRK_PERSONS_COMMUNICATION_TYPE</label>  
                <md-select ng-model ="communication.selectedType" >  
                    <md-option ng-value="t" ng-repeat="t in communication.selectedMedium.types"><span translate="TRK_PERSONS_COMMUNICATION_TYPE_{{t.name}}"></span></md-option>  
                </md-select>
            </md-input-container>        
            
            <ng-include flex ng-if="!isNewClient" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>   

            <md-card-actions layout="row" layout-align="end center" ng-if="canWritePersons">
                <md-button class="md-raised md-accent" ng-if= "isNewComm"  ng-click ="createCommunication()"><span translate>TRK_PERSONS_CREATE</span></md-button>
                <md-button class="md-raised md-accent" ng-if= "!isNewComm" ng-click = "saveCommunication()" ><span translate>TRK_PERSONS_SAVE</span></md-button>
                <md-button class="md-raised md-warn"   ng-if= "!isNewComm" ng-click = "deleteCommunication()"><span translate>TRK_PERSONS_DELETE</span></md-button>
            </md-card-actions>    
        </form>
    </md-card-content>

</md-card>