<md-card ng-cloak ng-controller="CRMPersonCardController" style="background-image:url('/css/icons/office/Collaborator Male.svg');" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-if="!isNewPerson" ng-click="addCommunication()"  aria-label="ADD COMMUNICATION">
            <md-tooltip md-direction="bottom"><span translate>TRK_PERSONS_ADD_COMMUNICATION</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            <p translate>TRK_PERSONS_COMMUNICATION</p>
        </md-button>       
        <ng-include ng-if="!isNewPerson" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <div flex></div>
        <md-button class="close-card" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewPerson"><span>{{personLastname}}, {{personFirstname}}</span></span>
            <span class="md-headline" ng-if="isNewPerson" translate>TRK_PERSONS_NEW_PERSON</span>
        </md-card-title-text>
    </md-card-title>

    <script type="text/ng-template" id="PersonsFormTemplate">
        <md-card-content>
            <form name="personsForm" Layout="column">

                <md-input-container flex>
                    <label translate>TRK_PERSONS_LAST_NAME</label>
                    <input ng-model="person.lastname" name="lastname">
                </md-input-container>

                <md-input-container flex>
                    <label translate>TRK_PERSONS_FIRST_NAME</label>
                    <input ng-model="person.firstname" name="firstname">
                </md-input-container>

                <md-input-container flex>
                    <label translate>TRK_PERSONS_DESCRIPTION</label>
                    <input ng-model="person.description" name="description">
                </md-input-container>

                <ng-include flex ng-if="!isNewClient" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>   

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-accent" ng-if="isNewPerson && canWritePersons" ng-click="createPerson()"><span translate>TRK_PERSONS_CREATE</span></md-button>
                    <md-button class="md-raised md-accent" ng-if="!isNewPerson && canWritePersons" ng-click="savePerson()"><span translate>TRK_PERSONS_SAVE</span></md-button>
                    <md-button class="md-raised md-warn" ng-if="!isNewPerson && canWritePersons" ng-click="deletePerson()"><span translate>TRK_PERSONS_DELETE</span></md-button>
                </md-card-actions>
            </form>
        </md-card-content>
    </script>

    <md-tabs flex ng-if="!isNewPerson">
        <md-tab>
            <md-tab-label><span translate>TRK_PERSONS_DETAILS</span></md-tab-label>
            <md-tab-body><ng-include src="'PersonsFormTemplate'"> </ng-include></md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_PERSONS_COMMUNICATIONS</span></md-tab-label>
            <md-tab-body>
                <md-card-content>
                    <md-list class="lines-between-items">
                        <md-list-item ng-repeat="communication in communications | orderBy:'contact'" class="md-2-line" ng-click="selectCommunication(communication)" ng-class="{active:selectedCommunication == communication}" aria-label="SELECT COMMUNICATION">
                            <md-icon md-svg-src="{{mediumIcons[communication.selectedMediumName]}}" ></md-icon>
                            <div class="md-list-item-text multiline">
                                <h3 ng-bind="communication.contact"></h3>
                                <p translate="TRK_PERSONS_COMMUNICATION_TYPE_{{communication.selectedTypeName}}"></p>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-tab-body>
        </md-tab>
        <ng-include src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

    <ng-include flex ng-if="isNewPerson" src="'PersonsFormTemplate'"></ng-include>

</md-card>