<md-card ng-cloak ng-controller="AdministrationBPAddressCardController" style="background-image:url('/css/icons/office/Briefcase.svg');">
    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if= "isNewAddress" translate>TRK_BP_NEW_BP_ADDRESS</span>
            <span class="md-headline" ng-if= "!isNewAddress"  translate>TRK_BP_BP_ADDRESS_DETAILS</span>
        </md-card-title-text>
    </md-card-title>

   <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
  </md-button>

    <md-card-content >
        <form layout = "column">
            <md-input-container flex>
                <label translate>TRK_BP_DESCRIPTION </label>  
                <input ng-model ="partnerAddress.description" name="desc">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BP_ADDRESS_STR</label>  
                <input ng-model ="partnerAddress.street" name="street">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BP_ADDRESS_PostCode</label>  
                <input ng-model ="partnerAddress.postcode" name="postcode">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BP_ADDRESS_CITY</label>  
                <input ng-model ="partnerAddress.city" name="city">        
            </md-input-container>

            <md-input-container flex>
                <label translate>TRK_BP_ADDRESS_TYPE</label>  
                <md-select ng-model ="partnerAddress.type" >  
                    <md-option ng-value="addressType" ng-repeat="addressType in addressTypes"> 
                        <span translate="TRK_BP_ADDRESS_{{addressType}}_TYPE"></span>
                    </md-option>  
                </md-select>
             </md-input-container>

             <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-if= "isNewAddress"  ng-click ="createBPAddress()"><span translate>TRK_BP_CREATE_ADDRESS</span></md-button>
                <md-button class="md-raised md-accent" ng-if= "!isNewAddress" ng-click = "saveBPAddress()" ><span translate>TRK_BP_SAVE</span></md-button>
                <md-button class="md-raised md-warn"  ng-if= "!isNewAddress" ng-click="deleteBPAddress()" ><span translate>TRK_BP_DELETE</span></md-button>
            </md-card-actions>    
        </form>
    </md-card-content>

</md-card>