<md-card ng-cloak ng-controller="AdministrationBPListCardController" style="background-image:url('/css/icons/office/Briefcase.svg');">
    <md-card-title flex="none" class="withfab">
        <md-card-title-text>
            <span class="md-headline" translate>TRK_BP_BP</span>
        </md-card-title-text>
    </md-card-title>

    <md-button class="md-fab md-accent" ng-click="newBP()" aria-label="ADD BusinessPartner">
        <md-tooltip md-direction="left"><span translate>TRK_BP_CREATENEWBP</span></md-tooltip>
        <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
    </md-button>
    
    <md-card-content>
        <md-list class="lines-beetween-items">
            <md-list-item ng-repeat="partner in partners | orderBy: 'name' " ng-click="selectPartner(partner)" ng-class="selectedPartner == partner ? 'active' : false" aria-label="{{partner.name}}">
                <md-icon md-svg-src="drafts/icons/Business.svg"></md-icon>
                <p ng-bind="partner.name"></p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>