<md-card ng-cloak ng-controller="AdministrationClientSettingsCardController" style="background-image:url('/css/icons/office/Settings.svg');">

    <md-toolbar class="md-toolbar-tools md-accent">
        <div flex></div>
        <md-button class="close-card" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" translate>TRK_SETTINGSET_CLIENT</span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>

        <form name="clientSettingsForm" layout="column">

            <md-input-container flex>
                <label translate>TRK_SETTINGSET_CLIENT_LOGO_URL</label>
                <input ng-model="clientSettings.logourl" name="logourl">
            </md-input-container>

            <md-input-container flex>
                <img ng-src="{{clientSettings.logourl}}" />
            </md-input-container>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-if="canWriteClientSettings" ng-click="saveClientSettings()"><span translate>TRK_SETTINGS_SAVE</span></md-button>
            </md-card-actions>

        </form>

    </md-card-content>

</md-card>