<md-card ng-cloak ng-controller="AdministrationClientCardController" style="background-image:url('/css/icons/office/Briefcase.svg');" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-if="!isNewClient && canWriteClients" ng-click="newAdmin()" aria-label="ADD ADMIN">
            <md-tooltip md-direction="bottom"><span translate>TRK_CLIENTS_CREATEADMIN</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Add User Male.svg"></md-icon>
            <p translate>TRK_CLIENTS_ADMIN</p>
        </md-button>
        <ng-include ng-if="!isNewClient" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <div flex></div>
        <md-button class="close-card" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-hide="isNewClient"><span ng-bind="clientName"></span></span>
            <span class="md-headline" ng-if="isNewClient" translate>TRK_CLIENTS_NEWCLIENT</span>
        </md-card-title-text>
    </md-card-title>

    <script type="text/ng-template" id="CreateAdministratorDialog">
        <md-dialog aria-label="CREATE ADMINISTRATOR">
            <md-toolbar class="md-toolbar-tools">
                <h2 translate>TRK_CLIENTS_NEWADMINISTRATOR</h2>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <form name="administratorsForm" layout="column">

                        <md-input-container flex>
                            <label translate>TRK_CLIENTS_USERNAME</label>
                            <input ng-model="parentScope.administrator.name" name="name" ng-required="true" ng-change="administratorsForm.name.$setValidity('nameInUse', true);">
                            <div ng-messages="administratorsForm.name.$error">
                                <div ng-message="required" translate>TRK_CLIENTS_PLEASEPROVIDEUSERNAME</div>
                                <div ng-message="nameInUse" translate>TRK_CLIENTS_USERNAMEINUSE</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label translate>TRK_CLIENTS_PASSWORD</label>
                            <input type="password" name="pass" ng-model="parentScope.administrator.pass">
                        </md-input-container>

                        <p translate>TRK_CLIENTS_CREATEADMINDESCRIPTION</p>

                    </form>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-accent" ng-click="parentScope.onOkClick(this)" ng-disabled="administratorsForm.$invalid"><span translate>TRK_CLIENTS_CREATE</span></md-button>
                <md-button class="md-raised" ng-click="parentScope.onCancelClick()"><span translate>TRK_CANCEL</span></md-button>
            </md-dialog-actions>
        </md-dialog>
    </script>

    <script type="text/ng-template" id="ClientsFormTemplate">
        <md-card-content>

            <form name="clientsForm" layout="column">

                <md-input-container flex>
                    <label translate>TRK_CLIENTS_NAME</label>
                    <input ng-model="client.name" name="name">
                </md-input-container>
                <md-input-container flex>
                    <label translate>TRK_CLIENTS_COMMENT</label>
                    <textarea ng-model="client.comment" rows="5"></textarea>
                </md-input-container>

                <ng-include flex ng-if="!isNewClient" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>   

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-accent" ng-if="isNewClient && canWriteClients" ng-click="createClient()" ng-disabled="clientsForm.$invalid"><span translate>TRK_CLIENTS_CREATE</span></md-button>
                    <md-button class="md-raised md-accent" ng-if="!isNewClient && canWriteClients" ng-click="saveClient()" ng-disabled="clientsForm.$invalid"><span translate>TRK_CLIENTS_SAVE</span></md-button>
                    <md-button class="md-raised md-warn" ng-if="!isNewClient && canWriteClients" ng-click="deleteClient()"><span translate>TRK_CLIENTS_DELETE</span></md-button>
                </md-card-actions>

            </form>
        </md-card-content>
    </script>

    <md-tabs flex ng-if="!isNewClient">
        <md-tab>
            <md-tab-label><span translate>TRK_CLIENTS_DETAILS</span></md-tab-label>
            <md-tab-body><ng-include src="'ClientsFormTemplate'"></ng-include></md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_CLIENTS_MODULES</span></md-tab-label>
            <md-tab-body>
                <md-card-content>
                    <md-list class="lines-beetween-items">
                        <md-list-item ng-repeat="clientModule in client.clientModules | orderBy: 'translationKey | translate'" aria-label="{{clientModule.module}}">
                            <md-icon md-svg-src="/css/icons/material/Module.svg"></md-icon>
                            <p translate="{{ clientModule.translationKey }}"></p>
                            <md-button class="md-icon-button" aria-label="ACTIVE" ng-click="switchActive(clientModule)">
                                <md-icon ng-if="clientModule.active" md-svg-src="/css/icons/material/Checkmark.svg"></md-icon>
                                <md-icon class="grayedout" ng-if="!clientModule.active" md-svg-src="/css/icons/material/Unavailable.svg"></md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-tab-body>
        </md-tab>
        <ng-include src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

    <ng-include flex ng-if="isNewClient" src="'ClientsFormTemplate'"></ng-include>

</md-card>