<md-card ng-cloak ng-controller="AdministrationClientModuleCardController" style="background-image:url('/css/icons/office/Briefcase.svg');">

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewClientModule" translate>TRK_CLIENTS_CLIENT_MODULE</span>
            <span class="md-headline" ng-if="isNewClientModule" translate>TRK_CLIENTS_NEW_CLIENT_MODULE</span>
        </md-card-title-text>
    </md-card-title>
    
    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>

    <md-card-content>

        <form layout="column">

            <md-input-container flex>
                <label translate>TRK_CLIENTS_MODULE</label>
                <md-select ng-model="clientModule.module">
                    <md-option ng-value="module" ng-repeat="module in modules | orderBy: 'module'">
                        <span translate="TRK_MODULE_{{module}}_NAME"></span>
                    </md-option>
                </md-select>
            </md-input-container>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-if="isNewClientModule" ng-click="createClientModule()"><span translate>TRK_CLIENTS_CREATE</span></md-button>
                <md-button class="md-raised md-accent" ng-if="!isNewClientModule" ng-click="saveClientModule()"><span translate>TRK_CLIENTS_SAVE</span></md-button>
                <md-button class="md-raised md-warn" ng-if="!isNewClientModule" ng-click="deleteClientModule()"><span translate>TRK_CLIENTS_DELETE</span></md-button>
            </md-card-actions>

        </form>

    </md-card-content>

</md-card>