<md-card ng-cloak ng-controller="AdministrationDynamicAttributesEntityListCardController" style="background-image:url('/css/icons/office/Settings.svg');">
    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" translate>SETTINGSET_DYNAMIC_ATTRIBUTES</span>
        </md-card-title-text>
    </md-card-title>

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>
    
    <!-- TODO: add list of possible options -->
    <!-- TODO: should have a list of all user-edditable modules; probably: fix them in the module-config file first-->

    <md-card-content>
        <md-list class="lines-beetween-items">
            <md-list-item ng-repeat="model in models | orderBy: 'name'" ng-click = "selectModel(entity)" ng-class="{active:selectedModel == model}" aria-label="{{model.name}}">
                <!--temporaly sample icon-->
                <md-icon md-svg-src="/css/icons/material/Module.svg"></md-icon>
                <p ng-bind="model.name"></p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>