<md-card ng-cloak ng-controller="AdministrationDynamicAttributesCardController" style="background-image:url('/css/icons/office/View Details.svg');">
    
    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-click="newAttribute()" aria-label="ADD ATTRIBUTE" ng-if="canWriteDynamicAttributes">
            <md-tooltip md-direction="bottom"><span translate>TRK_DYNAMICATTRIBUTES_ADD_ATTRIBUTE</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            <p translate>TRK_DYNAMICATTRIBUTES_ATTRIBUTE</p>
        </md-button>
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" translate="TRK_MODEL_{{modelName}}"></span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <md-list class="lines-beetween-items">
            <md-list-item ng-repeat="attribute in attributes | orderBy: ['name_en']" ng-click="selectAttribute(attribute)" ng-class="{active:selectedAttribute == attribute}" aria-label="{{attribute.name_en}}">
                <md-icon md-svg-src="/css/icons/material/{{attribute.icon}}.svg"></md-icon>
                <p ng-bind="attribute.name_en"></p>
            </md-list-item>
        </md-list>
    </md-card-content>

    <resize-handle></resize-handle>
    
</md-card>