<md-card ng-cloak ng-controller="AdministrationDynamicAttributesCardController">

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline">
                <span translate="TRK_SETTINGSET_DYNAMICATTRIBUTES"></span>
                <div translate="TRK_MODEL_{{modelName}}"></div>
            </span>
        </md-card-title-text>
    </md-card-title>

    <md-fab-speed-dial md-direction="down" class="md-scale">
        <md-fab-trigger>
            <md-button class="md-fab md-accent" ng-click="newAttribute()" aria-label="SHOW OPTIONS">
                <md-tooltip md-direction="left"><span translate>TRK_DYNAMICATTRIBUTES_ADD_ATTRIBUTE</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>
    <md-list class="lines-beetween-items">
        <md-list-item ng-repeat="attribute in attributes | orderBy: ['name_en']" ng-click="selectAttribute(attribute)" ng-class="{active:selectedAttribute == attribute}" aria-label="{{attribute.name_en}}">
            <md-icon md-svg-src="/css/icons/material/{{icon}}.svg"></md-icon>
            <p ng-bind="attribute.name_en"></p>
        </md-list-item>
    </md-list>

</md-card>