<md-card ng-cloak ng-controller="AdministrationAttributeCreationCardController" style="background-image:url('/css/icons/office/View Details.svg');">
    
    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-click="newAttributeElement()" aria-label="ADD LIST ELEMENT" ng-if="attributeType == 'picklist' && !isNewAttribute">
            <md-tooltip md-direction="bottom"><span translate>TRK_DYNAMICATTRIBUTES_ADD_ATTRIBUTEELEMENT</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            <p translate>TRK_DYNAMICATTRIBUTES_ATTRIBUTEELEMENT</p>
        </md-button>
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewAttribute"><span ng-bind="attributeName"></span></span>
            <span class="md-subhead" ng-if="!isNewAttribute"><span translate="TRK_DYNAMICATTRIBUTES_TYPE_{{attributeType}}"></span></span>
            <span class="md-headline" ng-if="isNewAttribute" translate>TRK_DYNAMICATTRIBUTES_ADD_ATTRIBUTE</span>
        </md-card-title-text>
    </md-card-title>

    <script type="text/ng-template" id="DynamicAttributeDetailsTemplate">
        <md-card-content>

            <form name="dynamicAttributesForm" layout="column">

                <md-input-container flex ng-if="isNewAttribute">
                    <label translate>TRK_DYNAMICATTRIBUTES_TYPE</label>
                    <md-select ng-model="dynamicattribute.type">
                        <md-option ng-value="type" ng-repeat="type in types">
                            <span translate="TRK_DYNAMICATTRIBUTES_TYPE_{{type}}"></span>
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex ng-repeat="language in languages">
                    <label translate = "TRK_DYNAMICATTRIBUTES_NAME_{{language}}"> </label>
                    <input ng-if = "language ==='en'" name="nameEn" ng-model="dynamicattribute.name_en" ng-required="true">
                    <div ng-messages="dynamicAttributesForm.nameEn.$error">
                        <div ng-message="required" translate>TRK_DYNAMICATTRIBUTES_PLEASE_ENTER_ENGLISH_NAME</div>
                    </div>
                    <input ng-if = "language !== 'en'" ng-model="dynamicattribute['name_' + language]" >
                </md-input-container>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-accent" ng-if="isNewAttribute && canWriteDynamicAttributes" ng-click="createAttribute()" ng-disabled="dynamicAttributesForm.$invalid"><span translate>TRK_DYNAMICATTRIBUTES_CREATE</span></md-button>
                    <md-button class="md-raised md-accent" ng-if="!isNewAttribute && canWriteDynamicAttributes" ng-click="saveAttribute()" ng-disabled="dynamicAttributesForm.$invalid"><span translate>TRK_DYNAMICATTRIBUTES_SAVE</span></md-button>
                    <md-button class="md-raised md-warn" ng-if="!isNewAttribute && canWriteDynamicAttributes && !dynamicattribute.identifier" ng-click="deleteAttribute()"><span translate>TRK_DYNAMICATTRIBUTES_DELETE</span></md-button>
                </md-card-actions>

            </form>  

        </md-card-content>
    </script>    
    
    <md-tabs ng-if="!isNewAttribute && attributeType === 'picklist'" flex>
        <md-tab>
            <md-tab-label><span>DETAILS</span></md-tab-label>
            <md-tab-body><ng-include src="'DynamicAttributeDetailsTemplate'"></ng-include></md-tab-body>
        </md-tab>

        <md-tab>
            <md-tab-label><span translate>TRK_DYNAMICATTRIBUTES_ELEMENTS</span></md-tab-label>
            <md-tab-body>
                <md-list class="lines-beetween-items">
                    <md-list-item ng-repeat="element in elements | orderBy: ['text_en']" ng-click="selectAttributeElement(element)" ng-class="{active:selectedElement === element}" aria-label="{{element.text_en}}">
                        <md-icon md-svg-src="/css/icons/material/Planner.svg"></md-icon>
                        <p ng-bind="element.text_en"></p>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>

    <ng-include flex ng-if="isNewAttribute || attributeType !== 'picklist'" src="'DynamicAttributeDetailsTemplate'"></ng-include>

</md-card>