<md-card ng-cloak ng-controller="AdministrationDynamicAttributesCardController" style="background-image:url('/css/icons/office/Settings.svg');">

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline"><span ng-bind="name"></span></span>
        </md-card-title-text>
    </md-card-title>

    <md-button class="md-fab md-accent" ng-if="canWriteUserDetails" ng-click="showOtions()">
        <md-icon md-svg-src="/css/icons/material/Menu.svg"></md-icon>
    </md-button>

    <md-fab-speed-dial md-direction="down" class="md-scale">
        <md-fab-trigger>
            <md-button class="md-fab md-accent" ng-click="newAttribute()" aria-label="SHOW OPTIONS">
                <md-tooltip md-direction="left"><span translate>TRK_DYNAMICATTRIBUTES_ADD_ATTRIBUTE</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
    </md-fab-speed-dial>

    <!--md-tabs flex>
        <md-tab>
            <md-tab-label><span>ATTRIBUTES</span></md-tab-label>
            <md-tab-body><ng-include src="'partial/Administration/AttributesTab.html'"></ng-include></md-tab-body>
        </md-tab>
    </md-tabs-->

    <md-list class="lines-beetween-items">
        <md-list-item ng-repeat="attribute in dynamicattributes.modelName | orderBy: 'name_en'" ng-click="selectAttribute(attribute)" ng-class="{active:selectedAttribute == attribute}" aria-label="{{attribute.name_en}}">
            <md-icon md-svg-src="/css/icons/material/{{dynamicattributes.modelName}}.svg"></md-icon>
            <p ng-bind="attribute.name_en"></p>
        </md-list-item>
    </md-list>

</md-card>