<md-card ng-cloak ng-controller="AdministrationAttributeCreationCardController" style="background-image:url('/css/icons/office/Settings.svg');">

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewAttribute" translate>TRK_DYNAMICATTRIBUTES_EDIT_ATTRIBUTE</span>
            <span class="md-headline" ng-if="isNewAttribute" translate>TRK_DYNAMICATTRIBUTES_ADD_ATTRIBUTE</span>
        </md-card-title-text>
    </md-card-title>

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>
    
    <md-button class="md-fab md-accent md-scale" ng-if="attributeType == 'DYNAMICATTRIBUTES_TYPE_PICKLIST' && !isNewAttribute" ng-click="newAttributeElement()" aria-label="SHOW OPTIONS">
        <md-tooltip md-direction="left"><span translate>TRK_DYNAMICATTRIBUTES_ADD_ATTRIBUTEELEMENT</span></md-tooltip>
        <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
    </md-button>
    
    <md-tabs flex>
        <md-tab>
            <md-tab-label><span>DETAILS</span></md-tab-label>
            <md-tab-body><!--ng-include src="'partial/Administration/AttributeDetailsTab.html'"></ng-include-->
                <md-card-content layout="column">

                    <md-input-container flex>
                        <label ng-if = "isNewAttribute" translate>TRK_DYNAMICATTRIBUTES_TYPE</label>
                        <md-select ng-if = "isNewAttribute" ng-model="dynamicattribute.type">
                            <md-option ng-value="type" ng-repeat="type in types">
                                <span translate="TRK_{{type}}"></span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                        <md-card-content  layout = "column" >
                            <md-input-container flex ng-repeat="language in languages">
                                <label translate = "TRK_DYNAMICATTRIBUTES_NAME_{{language}}"> </label>
                                <input ng-if = "language =='en'" ng-model="dynamicattribute.name_en" ng-required="true">
                                <input ng-if = "language !='en'" ng-model="attribute.translations[0]" >
                            </md-input-container>
                        </md-card-content>  

                </md-card-content>
            
            </md-tab-body>
        </md-tab>

        <md-tab ng-if="attributeType == 'DYNAMICATTRIBUTES_TYPE_PICKLIST' && !isNewAttribute">
            <md-tab-label><span translate>TRK_DYNAMICATTRIBUTES_ELEMENTS</span></md-tab-label>
            <md-tab-body>
                <md-list class="lines-beetween-items">
                    <md-list-item ng-repeat="element in elements | orderBy: ['text_en']" ng-click="selectAttributeElement(element)" ng-class="{active:selectedAttributeElement == element}" aria-label="{{element.name_en}}">
                        <md-icon md-svg-src="/css/icons/material/Planner.svg"></md-icon>
                        <p ng-bind="element.text_en"></p>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>

    <!-- TODO: check if any additional permission is needed -->
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-accent" ng-if="isNewAttribute " ng-click="createAttribute()"><span translate>TRK_DA_CREATE</span></md-button>
        <md-button class="md-raised md-accent" ng-if="!isNewAttribute " ng-click="saveAttribute()"><span translate>TRK_DA_SAVE</span></md-button>
        <md-button class="md-raised md-warn" ng-if="!isNewAttribute " ng-click="deleteAttribute()"><span translate>TRK_DA_DELETE</span></md-button>
    </md-card-actions>

</md-card>