<md-card ng-cloak ng-controller="AdministrationPortalSettingsCardController" style="background-image:url('/css/icons/office/Settings.svg');">

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" translate>TRK_SETTINGS_PORTALSETTINGS</span>
        </md-card-title-text>
    </md-card-title>

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>TRK_SETTINGS_LICENSE</span></md-tab-label>
            <md-tab-body>
                <ng-include src="'partial/Administration/PortalSettingsCardLicenseTab.html'"></ng-include>
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_SETTINGS_UPDATES</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-include="'partial/Administration/PortalSettingsCardUpdatesTab.html'"></md-card-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>

</md-card>