<md-card ng-cloak ng-controller="AdministrationUserCardController" style="background-image:url(/css/icons/office/User.svg);" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <ng-include ng-if="!isNewUser" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewUser"><span ng-bind="userName"></span></span>
            <span class="md-headline" ng-if="isNewUser" translate>TRK_USERS_NEW_USER</span>
        </md-card-title-text>
    </md-card-title>

    <script type="text/ng-template" id="UsersFormTemplate">

        <md-card-content>

            <form name="usersForm" layout="column">

                <md-input-container ng-if="isNewUser" flex>
                    <label translate>TRK_USERS_NAME</label>
                    <input ng-model="user.name" name="un" ng-required="true" ng-keydown="resetUserNameError()">
                    <div ng-messages="usersForm.un.$error">
                        <div ng-message="required" translate>TRK_USERS_PLEASE_ENTER_USERNAME</div>
                        <div ng-message="nameInUse" translate>TRK_USERS_NAME_IN_USE</div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label ng-if="!isNewUser" translate>TRK_USERS_NEW_PASSWORD</label>
                    <label ng-if="isNewUser" translate>TRK_USERS_PASSWORD</label>
                    <input type="password" name="p" ng-model="user.pass" ng-required="isNewUser" aria-label="USER PASSWORD">
                    <div ng-messages="usersForm.p.$error">
                        <div ng-message="required" translate>TRK_USERS_PLEASE_ENTER_PASSWORD</div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <label translate>TRK_USERS_REPEAT_PASSWORD</label>
                    <input type="password" name="pp" ng-model="user.pass2" ng-required="user.pass" compare-to="user.pass" aria-label="USER PASSWORD REPEAT">
                    <div ng-messages="usersForm.pp.$error">
                        <div ng-message="compareTo" translate>TRK_USERS_PASSWORDS_DO_NOT_MATCH</div>
                    </div>
                </md-input-container>

                <md-input-container flex>
                    <md-checkbox ng-model="user.isAdmin"><span translate>TRK_USERS_ADMINISTRATOR</span></md-checkbox>
                </md-input-container>

                <md-input-container flex>
                    <label translate>TRK_USERS_USERGROUP</label>
                    <md-select ng-model="user.userGroup">
                        <md-option ng-value="userGroup" ng-repeat="userGroup in userGroups | orderBy: 'name'" ng-bind="userGroup.name"></md-option>
                    </md-select>
                </md-input-container>

                <ng-include flex ng-if="!isNewUser" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>
                
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-accent" ng-if="isNewUser && canWriteUserDetails" ng-click="createUser()" ng-disabled="usersForm.$invalid"><span translate>TRK_USERS_CREATE</span></md-button>
                    <md-button class="md-raised md-accent" ng-if="!isNewUser && canWriteUserDetails" ng-click="saveUser()" ng-disabled="usersForm.$invalid"><span translate>TRK_USERS_SAVE</span></md-button>
                    <md-button class="md-raised md-warn" ng-if="!isNewUser && canWriteUserDetails" ng-click="deleteUser()"><span translate>TRK_USERS_DELETE</span></md-button>
                </md-card-actions>

            </form>

        </md-card-content>

    </script>

    <md-tabs flex ng-if="!isNewUser">
        <md-tab>
            <md-tab-label><span translate>TRK_USERS_DETAILS</span></md-tab-label>
            <md-tab-body><ng-include src="'UsersFormTemplate'"></ng-include></md-tab-body>
        </md-tab>
        <ng-include src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

    <ng-include flex ng-if="isNewUser" src="'UsersFormTemplate'"></ng-include>

    <div class="progress-panel" ng-if="isLoading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

</md-card>