<md-card ng-cloak ng-controller="AdministrationUserlistCardController" style="background-image:url(/css/icons/office/User.svg);">
    <md-card-title flex="none" class="withfab">
        <md-card-title-text>
            <span class="md-headline" translate>USERS_USERS</span>
        </md-card-title-text>
    </md-card-title>

    <md-button class="md-fab md-accent" ng-click="newUser()" aria-label="ADD USER" ng-if="canWriteUserDetails">
        <md-tooltip md-direction="left"><span translate>USERS_CREATE_NEW_USER</span></md-tooltip>
        <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
    </md-button>
    
    <md-card-content>
        <md-list class="lines-beetween-items">
            <md-list-item ng-repeat="user in users | orderBy: 'name'" ng-click="selectUser(user)" ng-class="selectedUser == user ? 'active' : false" aria-label="{{user.name}}">
                <md-icon md-svg-src="/css/icons/material/User.svg"></md-icon>
                <p ng-bind="user.name"></p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>