<md-card ng-cloak ng-controller="AdministrationUsergroupCardController" style="background-image:url('/css/icons/office/User Group Man Man.svg');">
    
    <md-card-title flex="none" class="withfab">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewUserGroup"><span ng-bind="userGroupName"></span></span>
            <span class="md-headline" ng-if="isNewUserGroup" translate>TRK_USERGROUPS_NEW_USERGROUP</span>
        </md-card-title-text>
    </md-card-title>

    <md-fab-speed-dial md-direction="down" class="md-scale relations-anchor" ng-if="!isNewUserGroup">
        <md-fab-trigger>
            <md-button class="md-fab md-accent" aria-label="MENU">
                <md-tooltip md-direction="left"><span translate>TRK_USERGROUPS_MORE_ACTIONS</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Menu black.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-if="canAddPermission" ng-click="newPermission()" aria-label="ADD PERMISSION">
                <md-tooltip md-direction="left"><span translate>TRK_USERGROUPS_ADD_NEW_PERMISSION</span></md-tooltip>
                <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            </md-button>
            <ng-include src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        </md-fab-actions>
    </md-fab-speed-dial>

    <md-button class="md-icon-button close" ng-click="closeCard()" aria-label="CLOSE CARD">
        <md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon>
    </md-button>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>TRK_USERGROUPS_DETAILS</span></md-tab-label>
            <md-tab-body>
                <ng-include src="'partial/Administration/UsergroupCardDetailsTab.html'"></ng-include>
            </md-tab-body>
        </md-tab>
        <md-tab ng-if="!isNewUserGroup">
            <md-tab-label><span translate>TRK_USERGROUPS_PERMISSIONS</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-include="'partial/Administration/UsergroupCardPermissionsTab.html'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <md-tab ng-if="!isNewUserGroup">
            <md-tab-label><span translate>TRK_USERGROUPS_USERS</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-include="'partial/Administration/UsergroupCardUsersTab.html'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <ng-include ng-if="!isNewUserGroup" src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

</md-card>
