<md-card ng-cloak ng-controller="AdministrationUsergroupCardController" style="background-image:url('/css/icons/office/User Group Man Man.svg');" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-if="canAddPermission" ng-click="newPermission()" aria-label="ADD PERMISSION">
            <md-tooltip md-direction="bottom"><span translate>TRK_USERGROUPS_ADD_NEW_PERMISSION</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            <p translate>TRK_USERGROUPS_PERMISSION</p>
        </md-button>
        <ng-include ng-if="!isNewUserGroup" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <div flex></div>
        <md-button class="close-card" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>
    
    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!isNewUserGroup"><span ng-bind="userGroupName"></span></span>
            <span class="md-headline" ng-if="isNewUserGroup" translate>TRK_USERGROUPS_NEW_USERGROUP</span>
        </md-card-title-text>
    </md-card-title>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>TRK_USERGROUPS_DETAILS</span></md-tab-label>
            <md-tab-body>
                <ng-include src="'partial/Administration/UsergroupCardDetailsTab.html'"></ng-include>
            </md-tab-body>
        </md-tab>
        <md-tab ng-if="!isNewUserGroup">
            <md-tab-label><span translate>TRK_USERGROUPS_PERMISSIONS</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-include="'partial/Administration/UsergroupCardPermissionsTab.html'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <md-tab ng-if="!isNewUserGroup">
            <md-tab-label><span translate>TRK_USERGROUPS_USERS</span></md-tab-label>
            <md-tab-body>
                <md-card-content ng-include="'partial/Administration/UsergroupCardUsersTab.html'"></md-card-content>
            </md-tab-body>
        </md-tab>
        <ng-include ng-if="!isNewUserGroup" src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

</md-card>
