<md-card ng-cloak ng-controller="LicenseServerPortalCardController" style="background-image:url('/css/icons/office/Server.svg');" class="list-details-details">

    <md-toolbar class="md-toolbar-tools md-accent">
        <ng-include ng-if="!isNewPortal" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <div flex></div>
        <md-button class="close-card" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-hide="isNewPortal"><span ng-bind="portalName"></span></span>
            <span class="md-headline" ng-if="isNewPortal" translate>TRK_PORTALS_NEW_PORTAL</span>
        </md-card-title-text>
    </md-card-title>

    <script type="text/ng-template" id="PortalsFormTemplate">
        <md-card-content>

            <form name="portalsForm" layout="column">

                <md-input-container flex>
                    <label translate>TRK_PORTALS_NAME</label>
                    <input ng-model="portal.name" name="name">
                </md-input-container>

                <md-input-container flex>
                    <md-checkbox ng-model="portal.isActive"><span translate>TRK_PORTALS_ACTIVE</span></md-checkbox>
                </md-input-container>

                <md-input-container flex ng-if="!isNewPortal">
                    <label translate>TRK_PORTALS_LICENSEKEY</label>
                    <textarea ng-model="portal.licenseKey" rows="5" ng-readonly="true"></textarea>
                </md-input-container>

                <ng-include flex ng-if="!isNewPortal" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>      
                 
                <a ng-if="!isNewPortal" href="/api/update/download?licenseKey={{portal.licenseKey}}" translate>TRK_PORTALS_DOWNLOAD_PACKAGE</a>


                <md-card-actions layout="row" layout-align="end center" ng-if="!isNewPortal && canWritePortals">
                    <md-button class="md-raised md-accent" ng-click="generateNewLicenseKey()"><span translate>TRK_PORTALS_GENERATE_LICENSEKEY</span></md-button>
                </md-card-actions>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-accent" ng-if="isNewPortal && canWritePortals" ng-click="createPortal()" ng-disabled="portalsForm.$invalid"><span translate>TRK_PORTALS_CREATE</span></md-button>
                    <md-button class="md-raised md-accent" ng-if="!isNewPortal && canWritePortals" ng-click="savePortal()" ng-disabled="portalsForm.$invalid"><span translate>TRK_PORTALS_SAVE</span></md-button>
                    <md-button class="md-raised md-warn" ng-if="!isNewPortal && canWritePortals" ng-click="deletePortal()"><span translate>TRK_PORTALS_DELETE</span></md-button>
                </md-card-actions>

            </form>
        </md-card-content>
    </script>

    <md-tabs flex ng-if="!isNewPortal">
        <md-tab>
            <md-tab-label><span translate>TRK_PORTALS_DETAILS</span></md-tab-label>
            <md-tab-body><ng-include src="'PortalsFormTemplate'"></ng-include></md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label><span translate>TRK_PORTALS_MODULES</span></md-tab-label>
            <md-tab-body>
                <md-card-content>
                    <md-list class="lines-beetween-items">
                        <md-list-item ng-repeat="portalModule in portal.portalModules | orderBy: 'translationKey | translate'" aria-label="{{portalModule.module}}">
                            <md-icon md-svg-src="/css/icons/material/Module.svg"></md-icon>
                            <p translate="{{ portalModule.translationKey }}"></p>
                            <md-button class="md-icon-button" aria-label="ACTIVE" ng-click="switchActive(portalModule)">
                                <md-icon ng-if="portalModule.active" md-svg-src="/css/icons/material/Checkmark.svg"></md-icon>
                                <md-icon class="grayedout" ng-if="!portalModule.active" md-svg-src="/css/icons/material/Unavailable.svg"></md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-tab-body>
        </md-tab>
        <ng-include src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

    <ng-include flex ng-if="isNewPortal" src="'PortalsFormTemplate'"></ng-include>

</md-card>