<md-card ng-cloak ng-controller="BIMAreasCardController" style="background-image:url('/css/icons/office/surface.svg');" class="list-details-details">
    
    <md-toolbar class="md-toolbar-tools md-accent" ng-if="currentFmObject">
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>
    
    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-if="!currentFmObject" translate>TRK_AREAS_AREAS</span>
            <span class="md-headline" ng-if="currentFmObject">{{currentFmObject.label}}</span>
            <span class="breadcrumbs" ng-if="currentFmObject" ng-bind="breadcrumbs" ></span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <table class="areas largedevice">
            <thead>
                <tr>
                    <th translate="TRK_FMOBJECTS_FM_OBJECT"></th>
                    <th translate="TRK_AREAS_BGF"></th>
                    <th translate="TRK_AREAS_NRF"></th>
                    <th translate="TRK_AREAS_KGF"></th>
                    <th translate="TRK_AREAS_NUF"></th>
                    <th translate="TRK_AREAS_TF"></th>
                    <th translate="TRK_AREAS_VF"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fmObject in fmObjects" ng-class="{active:selectedFmObject===fmObject}">
                    <td ng-click="showFmObjectDetails(fmObject)">
                        <div>
                            <div class="inset" ng-repeat="inset in fmObject.inset"></div>
                            <img ng-src="{{fmObject._icon}}" />
                            <span ng-bind="fmObject.label"></span>
                        </div>
                    </td>
                    <td ng-bind="fmObject.bgf | number:0"></td>
                    <td ng-bind="fmObject.nrf | number:0"></td>
                    <td ng-bind="fmObject.kgf | number:0"></td>
                    <td ng-bind="fmObject.nuf | number:0"></td>
                    <td ng-bind="fmObject.tf | number:0"></td>
                    <td ng-bind="fmObject.vf | number:0"></td>
                </tr>
            </tbody>
        </table>

        <table class="areavalues smalldevice" ng-if="currentFmObject">
            <tbody>
                <tr ng-if="currentFmObject.bgf !== undefined">
                    <th translate="TRK_AREAS_BGF"></th>
                    <td ng-bind="currentFmObject.bgf | number:0"></td>
                </tr>
                <tr ng-if="currentFmObject.nrf !== undefined">
                    <th translate="TRK_AREAS_NRF"></th>
                    <td ng-bind="currentFmObject.nrf | number:0"></td>
                </tr>
                <tr ng-if="currentFmObject.kgf !== undefined">
                    <th translate="TRK_AREAS_KGF"></th>
                    <td ng-bind="currentFmObject.kgf | number:0"></td>
                </tr>
                <tr ng-if="currentFmObject.nuf !== undefined">
                    <th translate="TRK_AREAS_NUF"></th>
                    <td ng-bind="currentFmObject.nuf | number:0"></td>
                </tr>
                <tr ng-if="currentFmObject.tf !== undefined">
                    <th translate="TRK_AREAS_TF"></th>
                    <td ng-bind="currentFmObject.tf | number:0"></td>
                </tr>
                <tr ng-if="currentFmObject.vf !== undefined">
                    <th translate="TRK_AREAS_VF"></th>
                    <td ng-bind="currentFmObject.vf | number:0"></td>
                </tr>
            </tbody>
        </table>

        <table class="areas areachildren smalldevice" ng-if="childFmObjects.length > 0">
            <tbody>
                <tr>
                    <th translate="TRK_AREAS_CHILD_ELEMENTS"></th>
                </tr>
                <tr ng-repeat="fmObject in childFmObjects">
                    <td ng-click="openChildElement(fmObject)">
                        <div>
                            <img ng-src="{{fmObject._icon}}" />
                            <span ng-bind="fmObject.label"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </md-card-content>
    
    <resize-handle></resize-handle>
    
</md-card>
