<md-card ng-cloak ng-controller="BIMFmobjectCardController" style="background-image:url('/css/icons/office/Cottage.svg');" class="list-details-details">

    <script type="text/ng-template" id="imageSelectList.html">
        <md-list class="hierarchy">
            <md-list-item flex layout="column" ng-repeat="child in child.children">
                <div flex layout="row" ng-class="{active:parentScope.selectedImage === child}">
                    <md-icon ng-click="child.isOpen = true" ng-if="!child.isOpen && child.children.length > 0" md-svg-src="/css/icons/material/Sort Right.svg"></md-icon>
                    <md-icon ng-click="child.isOpen = false" ng-if="child.isOpen" md-svg-src="/css/icons/material/Sort Down.svg"></md-icon>
                    <md-icon ng-if="child.children.length < 1"></md-icon>
                    <img ng-click="child.type === 'folders' ? child.isOpen = (!child.isOpen && child.children.length > 0) : parentScope.selectedImage = child" ng-src="/css/icons/{{child.icon}}.svg" />
                    <p ng-bind="child.name" ng-click="child.type === 'folders' ? child.isOpen = (!child.isOpen && child.children.length > 0) : parentScope.selectedImage = child"></p>
                </div>
                <ng-include flex src="'imageSelectList.html'" ng-if="child.isOpen"></ng-include>
            </md-list-item>
        </md-list>
    </script>
    
    <script type="text/ng-template" id="imageSelectDialog.html">
        <md-dialog aria-label="SELECT ELEMENT">
            <md-toolbar class="md-toolbar-tools">
                <h2 translate="TRK_FMOBJECTS_SELECT_IMAGE"></h2>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <ng-include flex src="'imageSelectList.html'"></ng-include>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-accent" ng-if="parentScope.selectedImage" ng-click="parentScope.selectedImage = null;parentScope.onDialogOkClick()"><span translate>TRK_FMOBJECTS_NO_IMAGE</span></md-button>
                <md-button class="md-raised md-accent" ng-if="parentScope.selectedImage" ng-click="parentScope.onDialogOkClick()"><span translate>TRK_OK</span></md-button>
                <md-button class="md-raised" ng-click="parentScope.onDialogCancelClick()"><span translate>TRK_CANCEL</span></md-button>
            </md-dialog-actions>
        </md-dialog>
    </script>
    
    <md-toolbar class="md-toolbar-tools md-accent">
        <md-button ng-click="newFmObject()" aria-label="ADD FM OBJECT" ng-if="canWriteFmObjects && !isNewFmObject">
            <md-tooltip md-direction="bottom"><span translate>TRK_FMOBJECTS_NEW_SUBELEMENT_IN_THIS_LEVEL</span></md-tooltip>
            <md-icon md-svg-src="/css/icons/material/Plus Math.svg"></md-icon>
            <p translate>TRK_FMOBJECTS_NEW_SUBELEMENT</p>
        </md-button>
        <ng-include ng-if="!isNewFmObject" src="'partial/Core/RelationsMenu.html'" ng-controller="CoreRelationsMenuController"></ng-include>
        <div flex></div>
        <md-button class="close-card md-icon-button" ng-click="closeCard()" aria-label="CLOSE CARD"><md-icon md-svg-src="/css/icons/material/Delete.svg"></md-icon></md-button>
    </md-toolbar>

    <md-card-title flex="none">
        <md-card-title-text>
            <span class="md-headline" ng-hide="isNewFmObject" ng-bind="fmObjectName"></span>
            <span class="md-headline" ng-if="isNewFmObject" translate>TRK_FMOBJECTS_NEW_FM_OBJECT</span>
        </md-card-title-text>
    </md-card-title>

    <md-tabs flex>
        <md-tab>
            <md-tab-label><span translate>TRK_FMOBJECTS_DETAILS</span></md-tab-label>
            <md-tab-body>
                <md-card-content layout="column">

                    <form name="fmObjectForm" layout="column">

                        <md-input-container flex>
                            <img ng-if="fmObject.previewImageId" ng-src="/api/documents/{{fmObject.previewImageId}}?action=download&token={{token}}" ng-click="openImage()"/>
                        </md-input-container>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised" ng-click="openImageSelectionDialog()"><span translate>TRK_FMOBJECTS_SELECT_IMAGE</span></md-button>
                        </md-card-actions>
                                
                        <md-input-container flex>
                            <label translate>TRK_FMOBJECTS_NAME</label>
                            <input ng-model="fmObject.name">
                        </md-input-container>

                        <md-input-container flex>
                            <label translate>TRK_FMOBJECTS_TYPE</label>
                            <md-select ng-model="fmObject.type">
                                <md-option ng-value="type" ng-repeat="type in types">
                                    <span translate="TRK_{{type}}"></span>
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-divider ng-if="fmObject.type !== 'FMOBJECTS_TYPE_PROJECT'">
                            <label translate>TRK_FMOBJECTS_SIZE</label>
                            <md-card-content layout = "row" >  
                                <md-input-container flex>
                                    <label translate>TRK_FMOBJECTS_LENGTH</label>
                                    <input ng-model="fmObject.size[0]" type="number" pattern = "[0-9]+([.][0-9]+)?">
                                </md-input-container>

                                <md-input-container  flex>
                                    <label translate>TRK_FMOBJECTS_WIDTH</label>
                                    <input ng-model="fmObject.size[1]" type="number" pattern = "[0-9]+([.][0-9]+)?">
                                </md-input-container>

                                <md-input-container flex>
                                    <label translate>TRK_FMOBJECTS_HEIGHT</label>
                                    <input ng-model="fmObject.size[2]" type="number" pattern = "[0-9]+([.][0-9]+)?">
                                </md-input-container>
                            </md-card-content>  
                        </md-divider>  

                        <md-divider  ng-if="fmObject.type !== 'FMOBJECTS_TYPE_PROJECT'">  
                            <label translate>TRK_FMOBJECTS_POSITION</label>
                            <md-card-content  layout = "row" >
                                <md-input-container flex>
                                    <label translate>TRK_FMOBJECTS_X</label>
                                    <input ng-model="fmObject.pos[0]" type="number" pattern = "[0-9]+([.][0-9]+)?">
                                </md-input-container>

                                <md-input-container flex>
                                    <label translate>TRK_FMOBJECTS_Y</label>
                                    <input ng-model="fmObject.pos[1]" type="number" pattern = "[0-9]+([.][0-9]+)?">
                                </md-input-container>

                                <md-input-container flex>
                                    <label translate>TRK_FMOBJECTS_Z</label>
                                    <input ng-model="fmObject.pos[2]" type="number" pattern = "[0-9]+([.][0-9]+)?">
                                </md-input-container>
                            </md-card-content>  
                        </md-divider>
                        
                        <ng-include flex ng-if="!isNewFmObject" src="'partial/Core/DynamicAttributesTab.html'"></ng-include>   

                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-accent" ng-if="isNewFmObject && canWriteFmObjects" ng-click="createFmObject($event)"><span translate>TRK_FMOBJECTS_CREATE</span></md-button>
                            <md-button class="md-raised md-accent" ng-if="!isNewFmObject && canWriteFmObjects" ng-click="saveFmObject()"><span translate>TRK_FMOBJECTS_SAVE</span></md-button>
                            <md-button class="md-raised md-warn" ng-if="!isNewFmObject && canWriteFmObjects" ng-click="deleteFmObject()"><span translate>TRK_FMOBJECTS_DELETE</span></md-button>
                        </md-card-actions>
                    </form>
                </md-card-content>

            </md-tab-body>
        </md-tab>
        <ng-include ng-if="!isNewFmObject" src="'partial/Core/RelationsTab.html'" ng-controller="CoreRelationsTabController"></ng-include>
    </md-tabs>

</md-card>