<md-list class="hierarchy">

    <md-list-item flex layout="column" ng-repeat="fmObject in fmObject.children | orderBy: 'name'">
        <div flex layout="row" ng-class="{active:selectedFmObject==fmObject}">
            <md-icon ng-click="openFmObject(fmObject, $event)" ng-if="!fmObject.isOpen && fmObject.children.length > 0" md-svg-src="/css/icons/material/Sort Right.svg"></md-icon>
            <md-icon ng-click="openFmObject(fmObject, $event)" ng-if="fmObject.isOpen" md-svg-src="/css/icons/material/Sort Down.svg"></md-icon>
            <md-icon ng-if="fmObject.children.length == 0"></md-icon>
            <img ng-click="selectFmObject(fmObject, $event)" ng-src="/css/icons/fm/{{fmObject.type}}.svg" />
            <p ng-bind="fmObject.name" ng-click="selectFmObject(fmObject, $event)"></p>
        </div>
        <ng-include flex src="'partial/BIM/HierarchyCardLevel.html'" ng-if="fmObject.isOpen"></ng-include>
    </md-list-item>

</md-list>
